<template>
  <v-container>
    <v-row>
      <v-col cols="12"> ผลไม้ </v-col>
      <v-col cols="10"></v-col>
      <v-col cols="2">
        <v-dialog v-model="dialog" persistent max-width="500">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              elevation="0"
              color="green"
              class="white--text"
              v-bind="attrs"
              v-on="on"
              >เพิ่มผลไม้</v-btn
            >
          </template>
          <v-card min-width='500'>
            <v-card-title class="text-h5"> Create </v-card-title>
            <v-card-text
              ><v-row class="text-center">
                <v-col cols="2">Name:</v-col>
                <v-col cols="10"
                  ><v-text-field
                    v-model="fruit.name"
                    placeholder="Name"
                    outlined
                    dense
                  ></v-text-field
                ></v-col>
                <v-col cols="2">Photo:</v-col>
                <v-col cols="10"
                  ><v-text-field
                    v-model="fruit.url"
                    placeholder="Url"
                    outlined
                    dense
                  ></v-text-field
                ></v-col> </v-row
            ></v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" class="white--text" @click="btnSave()">
                Save
              </v-btn>
              <v-btn color="grey darken-1" text @click="dialog = false">
                Cancel
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
      <v-col cols="10"></v-col>
      <v-col cols="2">
        <v-text-field
          v-model="search"
          label="Search Here"
          placeholder="Search Here"
          outlined
          dense
        ></v-text-field>
      </v-col>
      <v-col class="mb-4" cols="12">
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">ชื่อผลไม้</th>
                <th class="text-left"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in filteredList" :key="item.id">
                <td class="mt-2 mb-2">{{ item.name }}</td>
                <td class="mt-2 mb-2">
                  <v-img :src="item.url" width="100"></v-img>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "HelloWorld",

  data: () => ({
    search: "",
    dialog: false,
    fruit: {
      name: '',
      url: ''
    }
  }),
  async mounted() {
    await this.initialize();
  },
  computed: {
    ...mapState({
      fruits: (state) => state.fruitsStore.fruitsData,
    }),
    filteredList() {
      return this.fruits.filter((fruit) => {
        return fruit.name.toLowerCase().includes(this.search.toLowerCase());
      });
    },
  },
  methods: {
    ...mapActions({
      getFruits: "fruitsStore/GetFruits",
      CreateFruits: "fruitsStore/CreateFruits"
    }),
    async initialize() {
      await this.getFruits();
    },
    async btnSave() {
      console.log(this.fruit.name);
      this.dialog = false;
      await this.CreateFruits({
        name: this.fruit.name,
        url: this.fruit.url,
      }).then(async () => {
        await this.getFruits();
      });
    },
  },
};
</script>
